Repository googleapis/java-pubsub, pull requests merged in 2022-04, with the labels that each got.

#1094 fix: removed beta api annotation for ordering keys
  README.md
  google-cloud-pubsub/src/main/java/com/google/cloud/pubsub/v1/Publisher.java
Labels: api: pubsub, size: xs

#1102 deps: error_prone_annotations from the shared deps BOM
  README.md
  pom.xml
Labels: api: pubsub, automerge, size: xs

#1097 fix: adding BetaApi annotation for Exactly Once Delivery
  google-cloud-pubsub/src/main/java/com/google/cloud/pubsub/v1/AckReplyConsumerWithResponse.java
Labels: api: pubsub, size: xs

#1103 docs(sample): remove unused native-image-support dependency
  samples/native-image-sample/pom.xml
Labels: api: pubsub, samples, size: xs
