Repository googleapis/java-pubsub, pull requests merged in 2022-05, with the labels that each got.

#1106 fix: added exactly once delivery files to owlbot config
  .github/.OwlBot.yaml
Labels: api: pubsub, size: s

#1000 feat: Adding grpc compression support
  google-cloud-pubsub/src/main/java/com/google/cloud/pubsub/v1/Publisher.java
  google-cloud-pubsub/src/test/java/com/google/cloud/pubsub/it/ITPubSubTest.java
  google-cloud-pubsub/src/test/java/com/google/cloud/pubsub/v1/PublisherImplTest.java
Labels: api: pubsub, size: m

#1120 feat: creating java backport
  .github/release-please.yml
  .github/sync-repo-settings.yaml
  README.md
Labels: api: pubsub, size: s

#1127 feat: next release from main branch is 1.118.0
  .github/release-please.yml
  .github/sync-repo-settings.yaml
Labels: api: pubsub, size: s

#1128 feat: configure the protected branch
  .github/workflows/ci.yaml
Labels: api: pubsub, size: m

#1131 samples: publish with gRPC compression
  README.md
  samples/snippets/src/main/java/pubsub/PublishWithGrpcCompressionExample.java
  samples/snippets/src/main/resources/logging.properties
  samples/snippets/src/test/java/pubsub/PublisherIT.java
Labels: api: pubsub, samples, size: m

#1134 samples: region tag pubsub_publisher_with_compression
  samples/snippets/src/main/java/pubsub/PublishWithGrpcCompressionExample.java
Labels: api: pubsub, samples, size: xs

#1135 fix: Too many leases
  google-cloud-pubsub/src/main/java/com/google/cloud/pubsub/v1/StreamingSubscriberConnection.java
  google-cloud-pubsub/src/test/java/com/google/cloud/pubsub/v1/StreamingSubscriberConnectionTest.java
Labels: api: pubsub, size: m

#1139 fix: updated modack batching behavior
  google-cloud-pubsub/src/main/java/com/google/cloud/pubsub/v1/StreamingSubscriberConnection.java
  google-cloud-pubsub/src/test/java/com/google/cloud/pubsub/v1/StreamingSubscriberConnectionTest.java
Labels: api: pubsub, size: m
