Repository googleapis/java-pubsub, pull requests merged in 2024-10, with the labels that each got.

#2086 feat: Add OpenTelemetry tracing to the Publisher and Subscriber
  .github/.OwlBot-hermetic.yaml
  google-cloud-pubsub/pom.xml
  google-cloud-pubsub/src/main/java/com/google/cloud/pubsub/v1/AckRequestData.java
  google-cloud-pubsub/src/main/java/com/google/cloud/pubsub/v1/MessageDispatcher.java
  google-cloud-pubsub/src/main/java/com/google/cloud/pubsub/v1/ModackRequestData.java
  google-cloud-pubsub/src/main/java/com/google/cloud/pubsub/v1/OpenTelemetryPubsubTracer.java
  google-cloud-pubsub/src/main/java/com/google/cloud/pubsub/v1/Publisher.java
  google-cloud-pubsub/src/main/java/com/google/cloud/pubsub/v1/PubsubMessageWrapper.java
  google-cloud-pubsub/src/main/java/com/google/cloud/pubsub/v1/StreamingSubscriberConnection.java
  google-cloud-pubsub/src/main/java/com/google/cloud/pubsub/v1/Subscriber.java
  google-cloud-pubsub/src/test/java/com/google/cloud/pubsub/v1/OpenTelemetryTest.java
  google-cloud-pubsub/src/test/java/com/google/cloud/pubsub/v1/PublisherImplTest.java
  pom.xml
  samples/install-without-bom/pom.xml
  samples/snapshot/pom.xml
  samples/snippets/pom.xml
Labels: api: pubsub, size: xl

#2211 docs: Add ingestion from GCS sample
  samples/snippets/src/main/java/pubsub/CreateTopicWithCloudStorageIngestionExample.java
  samples/snippets/src/test/java/pubsub/AdminIT.java
Labels: api: pubsub, samples, size: m

#2208 docs: Add OpenTelemetry samples
  samples/snippets/src/main/java/pubsub/OpenTelemetryPublisherExample.java
  samples/snippets/src/main/java/pubsub/OpenTelemetrySubscriberExample.java
Labels: api: pubsub, samples, size: m

#2221 test: Fix flaky tests
  google-cloud-pubsub/src/test/java/com/google/cloud/pubsub/v1/PublisherImplTest.java
  samples/snippets/src/test/java/pubsub/AdminIT.java
  samples/snippets/src/test/java/pubsub/SubscriberIT.java
Labels: api: pubsub, samples, size: s

#2113 feat: track batch size using serialized size of PublishRequest
  google-cloud-pubsub/src/main/java/com/google/cloud/pubsub/v1/Publisher.java
  google-cloud-pubsub/src/test/java/com/google/cloud/pubsub/v1/PublisherImplTest.java
Labels: api: pubsub, size: s
