Repository googleapis/java-pubsub, pull requests merged in 2024-07, with the labels that each got.

#2063 docs(samples): Optimistic subscribe sample
  README.md
  samples/snippets/src/main/java/pubsub/OptimisticSubscribeExample.java
  samples/snippets/src/test/java/pubsub/SubscriberIT.java
Labels: api: pubsub, samples, size: m

#2100 Opentelemetry subscribe
  google-cloud-pubsub/pom.xml
  google-cloud-pubsub/src/main/java/com/google/cloud/pubsub/v1/AckRequestData.java
  google-cloud-pubsub/src/main/java/com/google/cloud/pubsub/v1/MessageDispatcher.java
  google-cloud-pubsub/src/main/java/com/google/cloud/pubsub/v1/ModackRequestData.java
  google-cloud-pubsub/src/main/java/com/google/cloud/pubsub/v1/OpenTelemetryUtil.java
  google-cloud-pubsub/src/main/java/com/google/cloud/pubsub/v1/Publisher.java
  google-cloud-pubsub/src/main/java/com/google/cloud/pubsub/v1/PubsubMessageWrapper.java
  google-cloud-pubsub/src/main/java/com/google/cloud/pubsub/v1/StreamingSubscriberConnection.java
  google-cloud-pubsub/src/main/java/com/google/cloud/pubsub/v1/Subscriber.java
  google-cloud-pubsub/src/test/java/com/google/cloud/pubsub/v1/OpenTelemetryTest.java
Labels: api: pubsub, size: l

#2101 Opentelemetry subscribe
  google-cloud-pubsub/src/main/java/com/google/cloud/pubsub/v1/AckRequestData.java
  google-cloud-pubsub/src/main/java/com/google/cloud/pubsub/v1/MessageDispatcher.java
  google-cloud-pubsub/src/main/java/com/google/cloud/pubsub/v1/OpenTelemetryUtil.java
  google-cloud-pubsub/src/main/java/com/google/cloud/pubsub/v1/Publisher.java
  google-cloud-pubsub/src/main/java/com/google/cloud/pubsub/v1/PubsubMessageWrapper.java
  google-cloud-pubsub/src/main/java/com/google/cloud/pubsub/v1/StreamingSubscriberConnection.java
  google-cloud-pubsub/src/main/java/com/google/cloud/pubsub/v1/Subscriber.java
  google-cloud-pubsub/src/test/java/com/google/cloud/pubsub/v1/OpenTelemetryTest.java
Labels: api: pubsub, size: m

#2104 chore: make the owlbot postprocessor check non-required
  .github/sync-repo-settings.yaml
Labels: api: pubsub, size: s

#2102 chore: disable the Owl Bot post-processor
  .github/.OwlBot.lock.yaml
Labels: api: pubsub, size: s

#2105 chore: remove native image sample in favor of sample hosted in google-cloud-java
  README.md
  samples/native-image-sample/README.md
  samples/native-image-sample/pom.xml
  samples/native-image-sample/src/main/java/pubsub/NativeImagePubSubSample.java
  samples/native-image-sample/src/main/java/utilities/PublishOperations.java
  samples/native-image-sample/src/test/java/pubsub/NativeImagePubSubSampleIT.java
  samples/pom.xml
Labels: api: pubsub, samples, size: l
