Repository googleapis/java-pubsub, pull requests merged in 2024-02, with the labels that each got.

#1894 chore: removing Kokoro - Against Pub/Sub Lite samples from required checks
  .github/sync-repo-settings.yaml
  README.md
Labels: api: pubsub, samples, size: xs

#1895 chore: use sdk-platform-java-config to consolidate build configs
  .kokoro/presubmit/graalvm-native-17.cfg
  .kokoro/presubmit/graalvm-native.cfg
  owlbot.py
  pom.xml
Labels: api: pubsub, size: s

#1903 fix: Message ordering fix for #1889
  google-cloud-pubsub/src/main/java/com/google/cloud/pubsub/v1/MessageDispatcher.java
Labels: api: pubsub, size: m

#1921 ci: prepare sample build in CloudBuild
  .cloudbuild/samples_build.yaml
Labels: api: pubsub, samples, size: s

#1933 feat: next release from main branch is 1.126.0
  .github/release-please.yml
  .github/sync-repo-settings.yaml
Labels: api: pubsub, size: s

#1904 feat: Add universe domain support for Java
  google-cloud-pubsub/src/main/java/com/google/cloud/pubsub/v1/Publisher.java
  google-cloud-pubsub/src/main/java/com/google/cloud/pubsub/v1/Subscriber.java
Labels: api: pubsub, size: s
