Repository googleapis/java-pubsub, pull requests merged in 2024-09, with the labels that each got.

#2160 chore: remove unused image tag in .OwlBot-hermetic.yaml
  .github/.OwlBot-hermetic.yaml
Labels: api: pubsub, size: xs

#2163 samples: Add style check supressions for generated StateProto.java file
  samples/checkstyle-suppressions.xml
Labels: api: pubsub, samples, size: s

#2172 chore: Add Clirr exemptions for Protobuf 4.27.4+ runtime
  proto-google-cloud-pubsub-v1/clirr-ignored-differences.xml
Labels: api: pubsub, size: m

#2192 chore: use composite action
  .github/scripts/hermetic_library_generation.sh
  .github/workflows/hermetic_library_generation.yaml
Labels: api: pubsub, size: m

#2201 build: Update samples to use Java 11
  .github/workflows/samples.yaml
Labels: api: pubsub, samples, size: xs
